extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1= name
        p.lead.text-light
          | #{projectText}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies
        ul
        each val in tech
          li #{val}

        a.button.expanded(href=`${projectLink}`) Live Demo
        a.button.expanded(href=`${projectGit}`) GitHub Repo

    //- Replace the URLs in the src attributes below with template literals and interpolation to dynamically add three project images.  You only have to add one image.  But adding more images to show your app in different states demonstrates a level of thoroughness and professionalism that potential emplyers will like to see.
  while count < imgSrc.length
      img.image(src=`${imgSrc[count++]}`)
